* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: fit-content;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
}

.app {
  width: 90%;
  margin: 2rem auto;
}

.filter-btns {
  position: fixed;
  top: 0;
  background-color: white;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  z-index: 1;
  width: 100%;
}

.filter-btn {
  display: block;
  margin-right: 1rem;
  background-color: black;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 15px;
}

.result {
  margin-top: 100px;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}

.manual,
.instagram,
.twitter {
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #e9e6e6;
  font-size: 15px;
  color: #797878;
}

.overlay {
  position: absolute;
  top: -3%;
  width: fit-content;
  border-radius: 4px;
}

.load-btn {
  display: block;
  background-color: black;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 15px;
}
